.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 40px;
}

.contact-form p {
  width: 70%;
  margin: 20px auto;
  font-size: 16px;
}

.contact-form li {
  font-size: 16px;
}

.input-group .form-control {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  font-size: 14px;
  border-radius: 4px !important;
}

.form-label {
  font-size: 14px;
}
/* 
.modal-box {
  position: absolute;
  color: rgb(8, 7, 7);
} */

.modal-header {
  background-color: black;
  color: white;
}

.modal-footer {
  background-color: black;
  color: white;
}

.modal-body {
  background-color: #212121;
  color: white;
}
.contact-info {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0;
}

.contact-item {
  display: flex;
  align-items: center;
}

.contact-item span {
  margin-left: 5px;
}

.contact-item {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .contact-item {
    margin-left: 0px;
  }
}

@media (max-width: 468px) {
  .contact-form p {
    width: 90%;
    font-size: 14px;
  }

  .contact-form li {
    font-size: 14px;
  }
}
