/* Footer.css */

.footer {
  background-color: #a6a8ab; /* Dark background for contrast */
  padding: 20px;
  text-align: center;
}

.social-media-links {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 3px;
}

.social-media-links p {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: black;
}

.social-link {
  transition: transform 0.3s ease;
}

.social-link:hover {
  transform: scale(1.1);
  color: #7a7a7a;
}
