@import url("https://fonts.googleapis.com/css2?family=Anton&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Pirata+One&family=Qwitcher+Grypen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Lobster&family=Pirata+One&family=Qwitcher+Grypen:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Qwitcher+Grypen:wght@400;700&display=swap");

.logo-text {
  display: flex;
  width: 675px;
}

.logoText h1 {
  font-size: 60px;
  margin: 0;
}

.logoText h2 {
  margin: 0;
  font-size: 35px;
}

.logoText {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  justify-content: center;
}

.navbar {
  position: sticky;
  background-color: #a6a8ab;
  top: 0;
  width: 100%;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navLinks {
  color: black;
}

.logo {
  height: auto;
  width: 130px;
  max-width: 200px;
  padding: 2% 0 2% 5%;
  margin-right: 20px;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px 0 0;
  padding: 0;
  width: 300px;
}

.menu li {
  margin-left: 20px;
  padding: 0 0 10px 0;
}

.menu a {
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.menu span {
  transition: font-weight 0.6s ease;
}

.navLinks:hover {
  color: #7a7a7a;
}

.active {
  color: #7a7a7a;
  font-weight: 900;
}

@media (min-width: 1028px) {
  .logo {
    width: 140px;
  }

  .menu {
    /* margin-right: 50px; */
  }
}

@media (max-width: 1024px) {
  .menu {
    flex-direction: column;
    width: 60px;
    margin-right: 70px;
  }
}

@media (max-width: 836px) {
  .logo-text {
    width: 475px;
  }

  .logoText h1 {
    font-size: 40px;
  }

  .logoText h2 {
    font-size: 24px;
  }

  .logo {
    margin-right: 10px;
    width: 100px;
  }
}

@media (max-width: 633px) {
  .navbar {
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: flex-start;
  }

  .menu {
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
  }
}

@media (max-width: 492px) {
  .logo {
    width: 70px;
  }

  .logo-text {
    width: 320px;
  }

  .logoText h1 {
    font-size: 28px;
  }

  .logoText h2 {
    font-size: 15px;
  }
}
