.carousel-custom {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.carousel-item {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 12px;
}

.carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.welcome-text h2 {
  font-size: 30px;
  width: 90%;
}

.welcome-text p {
  padding-top: 20px;
  font-size: 16px;
  color: #ffffff;
  width: 90%;
  text-align: left;
}

.welcome-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  margin: 30px auto;
}

.welcome-image-nick {
  width: 300px;
  border-radius: 12px;
}

@media (min-width: 812px) {
  .welcome-content {
    flex-direction: row;
    align-items: flex-start;
  }

  .section2 {
    width: 90%;
    flex-direction: row;
    justify-content: space-between;
  }

  .welcome-text {
    text-align: left;
  }

  .welcome-image-nick {
    margin-left: 20px;
  }
}

@media (max-width: 812px) {
  .welcome-content {
    flex-direction: column;
    align-items: center;
  }

  .carousel-item {
    height: 250px;
  }
}

@media (max-width: 632px) {
  .welcome-content {
    flex-direction: column;
    align-items: center;
  }

  .carousel-item {
    height: 200px;
  }
}

@media (max-width: 468px) {
  .carousel-item {
    border-radius: 0;
  }

  .welcome-content {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .welcome-text h2 {
    font-size: 20px;
  }

  .welcome-text p {
    font-size: 14px;
  }
}
