/* Welcome.css */

.carousel-custom .carousel-item {
  height: 300px;
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
}

.carousel-custom img {
  object-fit: cover; /* Ensure images cover the carousel area */
  height: 100%; /* Full height of the carousel */
  width: 100%; /* Full width of the carousel */
}

.welcome-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.welcome-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.welcome-section1 {
  display: flex;
}

.welcome-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 15px;
  border-radius: 12px;
}

.welcome-image-nick {
  width: 250px;
  max-height: 250px;
  height: auto;
  padding: 0;
  border-radius: 12px;
  object-fit: cover;
}

.welcome-content {
  display: flex;
  align-items: center;
  width: 70%;
  margin: 30px auto;
}

.welcome-text h2 {
  text-align: center;
  font-size: 30px;
  width: 90%;
  margin: 0 auto;
}
.welcome-text p {
  padding-top: 20px;
  font-size: 16px;
  color: #ffffff;
  width: 90%;
  margin: 0 auto;
}

@media (max-width: 728px) {
  .welcome-container {
    width: 100%;
    padding: 5%;
  }

  .section2 {
    width: 100%;
  }
}

@media (max-width: 468px) {
  .welcome-container {
    width: 100%;
    padding: 5%;
  }

  .welcome-content {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .welcome-image-nick {
    margin: 0;
  }

  .welcome-image-nick {
    margin-bottom: 30px;
  }

  .section2 {
    flex-direction: column-reverse;
  }

  .welcome-text h2 {
    font-size: 20px;
  }

  .welcome-text p {
    font-size: 14px;
  }
}
